body {
    background-color: #171717;

    font-family: 'Gilam';
}
h1 {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
}
p {
    color: #FFFFFF;
}
.container {
    width: 1460px;
    margin: auto;
}
.header {
    margin-top: 37px;
    display: flex;
    justify-content: space-between;

}
.button {
    background-color: rgba(0,0,0,0.1);
    font-family: 'Circe';
    padding-block: 10px;
    border: 1px solid #E4B564;
}
.b_a {
    color: #E4B564;
    text-decoration: none;
    padding-inline: 25px;
}
.h1-t {
    margin-top: 128px;
}
.p-t {
    margin-top: 41px;
}
.wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.box-1 {
    margin-top: 41px;
    color: white;
    display: grid;
    grid-template-columns: 467px repeat(3, 218px) ;
    grid-template-rows: repeat(2, 468px);
    gap: 30px;
}
.grid-box-1_1 {
    background-color: #634F2C;
    grid-column: span 1;
}
.grid-box-1_2 {
    background-color: #B4A385;
    grid-column: span 2;
}
.grid-box-1_3 {
    background-color: #E4B564;
    grid-column: 4/6;
}
.grid-box-1_4 {
    background-color: #635A4A;
    grid-column: 1/3;
}
.grid-box-1_5 {
    background-color: #B08C4D;
    grid-column: 3/6;
}
.center-item {
    display: grid;
    justify-content: center;
    align-items: center;
}
.h1-s {
    margin-top: 161px;
}
.box-2 {
    margin-top: 94px;
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 467px);
    grid-template-rows: 255px 32px 102px 122px 260px;
    gap: 25px 30px;
}
.b {
    font-weight: bold;
}
.grid-box-2_1 {
    background-color: black;
    grid-row: 1/3 ;
}
.grid-box-2_2 {
    background-color: #242424;
    grid-row: 1/4;
}
.grid-box-2_3 {
    background-color: #1F1F1F;
}
.grid-box-2_4 {
    background-color: #1F1F1F;
    grid-row: 3/7;
}
.grid-box-2_5 {
    background-color: #E4B564;
    grid-row: 4/span 2;
    color: black;
}
.grid-box-2_6 {
    background-color: black;
    grid-row: span 3;
}
.grid-box-2_7 {
    background-color: black;
    grid-row: 5/7;
}
.right-item {
    padding: 50px;
}
.foo {
    margin-top: 191px;
    margin-bottom: 239px;
    display: grid;
    justify-content: center;
    padding-top: 172px;
    background: #0E0E0E;
    width: 1903px;
}
.between {
    display: flex;
    justify-content: space-between;
}
.b-2_a {
    padding-inline: 40px;
    color: #E4B564;
    text-decoration: none;
}
.box-3 {
    margin-top: 72px;
    display: grid;
    grid-template-columns: repeat(3, 487px);
    grid-template-rows: repeat(2, 391px);
}
.grid-box-3_1 {
    background-color: #634F2C;
}
.grid-box-3_2 {
    background-color: rgba(232, 210, 171, 0.76);
    display: grid;
    justify-items: center;
    align-content: center;
}.grid-box-3_3 {
     background-color: #E4B564;
 }
.grid-box-3_4 {
    background-color: #635A4A;
}
.grid-box-3_5 {
    background-color: #B08C4D;
}
.grid-box-3_6 {
    background-color: #634F2C;
}
.p-center {
    width: 326px;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 12px;
}

